*{

    margin: 0; padding: 0; box-sizing: border-box;
    background-color: dodgerblue;
  
  }
.logo
  { 
    margin-left: 40px;
    margin-top: 20px;
    width: 280px;
    height: 100px;
    

  }
  
h1
{
font-size: 45px;
width: 50px;
color: white;
font-family:Verdana, Geneva, Tahoma, sans-serif; 
margin-left:40px;
margin-top: 150px;
float: left;
position: absolute;
}
p{
margin-top:170px;
margin-left:40px;
padding:10px;
font-size: 18px;
color:white;
font-family: cursive;
float: left;
position:absolute;
}
form{
  margin-top: 300px;
  margin-left: 50px;
  font-family: cursive;
  color:white;
  float:left;
  position: absolute;
}
.google_ios_qrcode{
  width: 250px;
  height: 100px;
  margin-top: 400px;
  margin-left: 45px;
  float:left;
  position: absolute; 
}
.email_field{
  background-color: white;
  width: 78%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border:none
}
.submit_button
{
  background-color: #40E0D0;
  width: 20%;
  padding: 12px 20px;
  border:none;
  margin-left: 0;
  box-sizing: border-box;
}
.image1{
  height: 500px;
  margin-left: 800px;
  margin-top:0px;
  padding-right: 50px;
  border-right: 3px dashed white;

}

.image2{
  height: 500px;
  margin-left: 50px;
  margin-top: 0px;
  padding-right:0px ;
}